<a href="https://colab.research.google.com/github/phelly/Attendance_Sytem/blob/main/Python_Tutorial_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Python Syntax
x = 'Thursday'
print(x)

Thursday



```
Python Indention
```
Identation refers to the spaces at the beginning of a code. In python programming it is very important while for other programming is used for readibility

**Python Variable**

We use variables to assign values.


1.   Case sensitive 
2.   Cannot start with a number
3.    Can only contain alphanumerical and underscores

In [ ]:
a = 'fruits'
A = 'Banana'
print(a)
print(A)

In [ ]:
_myData = 'Thursday'
MyData = 100
My_Data = 10
MyData1 = 'Monthly'
1mydata = 'black'

In [ ]:
print(_myData)
print(MyData)
print(My_Data)
print(MyData1)
print(1mydata)

In [ ]:
#Casting
#We use casting when we want to specify the data type when assigning variables

x1 = str(10)
x2 = float(10)
x3 = int(100)

#type()

print(type(x1))
print(type(x2))
print(type(x3))

In [ ]:
#Output Variables
x = "Thursday"

print("Today is " + x + " our first session!")

**Data Types**

In [3]:
# strings

#int float complex

#list tuple range

#dictionaries


#Boolean

In [ ]:
#Strings as arrays 
x = "we like coding"
print(x[0])

In [ ]:
#looping through a string
# Since strings are arrays we can loop through the characters

for i in 'tomorrow':
  print(i)

In [ ]:
#slicing strings

x = 'tortoise'
print(x[2:]) #slice to the end
print(x[:2]) # slice from start
print(x[2:6]) #characters in 2 & 6 are not included

In [ ]:
#lower case strings - lower()

# upper case strings - upper()

# replace strings - replace('old', 'new')

# To remove the whitespace - strip()

In [ ]:
#Concatenate strings

In [ ]:
#String format
#We use format() method-  It takes passed arguments, formats them and places them in string where the placeholders {}
day = 'Thursday'
data = "I will be free on {}"
print(data.format(day))

**Boolean**

In [ ]:
#bool()- True, False

**Python Operators**

In [ ]:
print(10 + 5)
print(10*8)
print(3^5)

**Python List**

Lists are item are ordered, changeable, allow duplicate values and can take any data types

In [ ]:
days = ['Monday','Wednesday','Tuesday', 'Thursday', 'Friday','Saturday','Sunday']
print(days)

#Constructing list()

mylist = list(("Tue","Weno","Thur"))
print(mylist)

#Accessing items in a list
print(days[0])
print(days[2])
print(days[3])

print(days[-2])
print(days[2:6])


#Changing Item Value in list
days[2] = 'Monday12'
print(days)

days[1:3] = ['Tues', 'Weno']

#Adding List items - append()

days.append('Sato')
print(days)


#Remove List items
myitems = ['car','bike','mountain', 'river','clay','purple']
myitems.remove('car')
print(myitems)

In [ ]:
#looping through the lists
languages = ['Kiswahili','English','French','German', 'Spanish','Italian']
for language in languages:
  print(language)

In [ ]:

#List comprehension
#newlist = [expression for item in iterable if condition == True]
fruits = ['banana','oranges','cherry','blueberries','mango']
newlist = []

for x in fruits:
  if 'e' in fruits:
    newlist.append(x)
print(newlist)    



newlist1 = [x for x in fruits if 'e' in x]

**Python Tuple**

They are ordered, unchangeable, allow duplicates

In [ ]:
mytuple = ('Tue','Weno','Thur')
mynumbers = (1,2,4,5,6)
mybools = (True, False, False, True)
#Unchangebale - means yuou cannot add or remove items in a tuple
#You need to convert a tuple into a list then add or remove, later you convert it back to a tuple

sports = ('football' 'rugby', 'cricket','tennis')
print(sports)
mylist = list(sports)

mylist.append('swimming')
print(mylist)
tuplesports = tuple(mylist)

print(tuplesports)

In [ ]:
  #Looping through a tuple
tuplesports = ('football','rugby','cricket','tennis','swimming')
for sport in tuplesports:
  print(sport)

In [ ]:
#Joining tuples
tuple1 = (1,2,3,4)
tuple2 =('a','b','c')

print(tuple1 + tuple2)

**Python Sets**

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [ ]:
myset = {'Daisy', 'George', 'Phelister'}
myset1 = {1,2,3,4,4,5,6}
myset2 = {'car',44,55,True,'strings'}
print(myset)
print(myset1)

print(type(myset2))

In [ ]:
# We use set() to construct a set

soccer_teams = (('chelsea','arsenal','man_u','liverpool'))
print(soccer_teams)

In [ ]:
# Looping through a set
soccer_teams = (('chelsea','arsenal','man_u','liverpool'))

for team in soccer_teams:
  print(team)

In [ ]:
#Check if an item is present in a set
soccer_teams = (('chelsea','arsenal','man_u','liverpool'))
print('chelsea' in soccer_teams)

In [ ]:
# Add an item in a set
#Check if an item is present in a set
soccer_teams = (('chelsea','arsenal','man_u','liverpool'))
soccer_teams.add('Barcelona')

print(soocer_teams)


# Use update() to add a list, tuple or dictionaries
set1 = {1,2,3,4,5}
mylist = [7,8,9,10]
set1.update(mylist)
print(set1)

**Python Dictionaries**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered, changeable and does not allow duplicates.

In [ ]:
mydict = {'Monday':1, 'Tuesday':2, 'Wednesday':3, 'Thursday':4,
          'Friday':5, 'Saturday':6, 'Friday':7}
print(mydict)          


mydict1 = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [ ]:
# access values in a dictionary
 day = mydict['Monday']
 day_two = mydict.get('Tuesday')


 # Getting the keys
 keys = mydict1.keys()


 #Getting the values - values()
 values = mydict1.values()

#Getting items - The items() method will return each item in a dictionary, as tuples in a list.

 items = mydict1.items()

In [ ]:
# Changing values
car = {
  "brand": "Ford",
  "electric": False,
  "year": 1990,

}

x = car.values
print(x)
car['year'] = 2020

print(x)

In [ ]:
# Adding items in a dictionary
car = {
  "brand": "Ford",
  "electric": False,
  "year": 1990,

}
car['color'] = 'black'

print(car.values())

In [ ]:
# Looping through a dictionary

mydict = {'Monday':1, 'Tuesday':2, 'Wednesday':3, 'Thursday':4,
          'Friday':5, 'Saturday':6, 'Friday':7}


for day in mydict:
  print(day) 


for day in mydict:
  print(mydict[day])

In [ ]:
# Returns keys in a dictionary
for x in mydict.keys():
  print(x)

In [ ]:
# returns values in a dictionary
for x in mydict.values():
  print(x)

In [ ]:
#loop through keys,values

for x, y in mydict.items():
  print(x,y)

In [ ]:
#Nested Dictionaries
myfamily = {
  "firstborn" : {
    "name" : "Merlin",
    "year" : 1997
  },
  "second_born" : {
    "name" : "Lorna",
    "year" : 2002
  },
  "third_born" : {
    "name" : "Amos",
    "year" : 2011
  }
}